body {
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center; /* Center align the content */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#editor {
    border: 1px solid #ccc;
    min-height: 200px;
    width: 100%; /* Set the width to 100% */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 10px;
    margin-bottom: 20px;
}

.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line if needed */
    margin-bottom: 20px;
}

/* Style for icon buttons */
.btn {
    display: inline-block;
    background-color: black; /* Set button background color to black */
    color: white; /* Set button text color to white */
    margin: 0 5px; /* Add margin between buttons */
    border: none;
}

.btn img {
    max-width: 16px; /* Adjust the maximum width */
    max-height: 16px; /* Adjust the maximum height */
    margin-right: 5px;
}

#fontColorPicker {
    margin-left: 5px; /* Add margin to separate color button from alignment buttons */
}

